* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
html{
	font-family: poppins, sans-serif;
	font-weight: 100%; 
}
body{
	/*width: 80%;*/
	margin: auto;
	background-color: #ffffff;
}
h1{
	font-size: 36px;
	text-align: center;
}
h3{
	font-size: 20px;
	font-weight: 500;
}
p{
	text-align: center;
	margin: 10px 0 10px 0;
}
nav {
	  overflow: hidden;
	  background-color: #fff;
	  position: fixed;
	  top: 0;
	  width: 100%;
      padding: 10px;
}

.logo {
      float: left;
      padding: 8px;
      margin-left: 32px;
      margin-top: 0px;
      position: fixed;
}

.logo a {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
}

nav ul {
      float: right;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 40px;
}

nav ul li {
      display: inline-block;
      float: left;
}

nav ul li:not(:first-child) {
      margin-left: 32px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      display: inline-block;
      outline: none;
      color: #000;
    /*  text-transform: uppercase;*/
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 500;
}
header{
	margin: 200px 0 200px 0px;
	text-align: center;	
}
header h1{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}
.header1{
	margin: 100px 0 0px 55px;
}
.header2{
	margin: 100px 0 50px 0px;
}
.header2 p{
	text-align: left;
	font-size: 16px;
	margin: 50px 0 10px 270px;
	width: 65%;
}
.links a{
	
	padding-right: 20px;
	align-items: center;
	padding-left: 20px: 
}
.resized {
	width: 24px;
}
.resized2 {
	width: 16%;
	border-radius: 50%;
}

.work{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	
}
.work2 p{
	font-size: 10px;
	color: gray;
}

/*.image{
	display: block;
	width: 100%;
	height: auto;
}
.overlay{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: red;
	}
.works:hover .overlay{
		opacity: 1;
}
.text{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
}*/
.work img{
	margin: 1%;
	width: 45%;
}
.work2{
	text-align: center;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 30px;
}
.work2 img{
	margin: 1%;
	width: 45%;
}

footer{
	background-color: #F6F6F4;
	margin: 0%;
	padding: 80px 0 50px 0px;
	text-align: center;
}
footer h1 {
	text-align: center;
	padding-bottom: -30px;
}
footer p{
	text-align: center;
	color: grey;
	font-size: 16px;
	margin: 10px auto;
	background-color: #F6F6F6;
}


@media screen and (max-width: 864px) {
	nav{
		padding: 30px;
	}
	br{
		display: none;
	}
      .logo {
            padding: 0;
            margin: -10px -10px;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;

      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
            
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
    
    header{
		text-align: left;
		margin: 100px 0 70px 20px;
		text-align: left;
	}
	header h3{
		font-size: 18px;
		width: 90%;
	}
	header h1{
		font-size: 26px;
		width: 90%;
		text-align: left;
	}
	.work img{
		margin: 2%;
		width: 90%;
	}
	.work2 img{
		margin: 2%;
		width: 90%;
	}
	h1{
		font-size: 30px;
		width: 100%;
		align-items: center;
	}
	.header1{
		margin: 70px 0 -50px 18px;
		text-align: left;
	}
	.header2 img {
		display: block;
        float: none;
        width: 30%;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5%;
	}
	.header2 h1{
		text-align: left;
        margin-left: 5%;
	}
	.header2 h3{
		text-align: left;
        margin-left: 5%;
	}
	.header2 p{
		text-align: left;
        margin-bottom: 10px;
        margin-left: 5%;
        width: 90%;
	}
	.work2 p{
		margin: 5%;
		text-align: left;
		width: 90%;
	}
	footer h1{
		font-size: 26px;
	}


}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}

